<h1>Search by:</h1>

<%= form_tag(flights_path, method: "get") do %>
   
    <label>From:</label>
    <%= select_tag name='flight[:from_airport_id]', options_for_select(@airports.collect { |u| [u.code, u.id]} ,params[:number_of_passengers] ? params[:flight][:":from_airport_id"] : ""), prompt: 'please select' %>

 

    <label>To:</label>
    <%= select_tag name='flight[:to_airport_id]', options_for_select(@airports.collect { |u| [u.code, u.id]} ,params[:number_of_passengers] ? params[:flight][:":to_airport_id"] : ""), prompt: 'please select' %>

    <label># of passengers:</label>
    <%= select_tag 'number_of_passengers', options_for_select([["Select" , "" ], ["1",1], ["2",2], ["3",3], ["4",4]], params[:number_of_passengers]) %>
    
    <label>Deneme tarih:</label>
    <%= select_tag name='flight[:date_of_flight]', options_for_select(@dates.collect { |u| [u[0], u[1]]} ,params[:number_of_passengers] ? params[:flight][:":date_of_flight"] : "") %>

    <input type="submit" value="Submit">
<%end%>


  


<% if @flights != nil %>

<%= form_tag(new_booking_path, method: "get") do %>

    <h1>Flights:</h1>

    <ul id="flights">

    <% @flights.each do |flight| %>
        <label> <%= flight.duration %> </label>
        <label> <%= flight.date_of_flight %> </label>        
        <%= hidden_field_tag 'number_of_passengers', params[:number_of_passengers] %>
        <input type="radio" name='flight_id' value= <%= flight.id %> ><br>
    <% end %>
</ul>
    <input type="submit" value="Submit">

    <%end%>
    
<% end %>



